<div class="container input-id">
  <h2>Influencer Report</h2>
  <p>This component can help retrieving stats about a specific Youtube video</p>
  <p>The video ID is visible at the end of the URL - for instance https://www.youtube.com/watch?v=
    <b>oT8u2Qy78ag</b>
  </p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" name="idVideo" [(ngModel)]="idVideo" matInput placeholder="Video ID">
    </mat-form-field>

  </form>

  <button (click)="getYoutubeStats(); show()" mat-raised-button color="primary">Get Me the Stats !</button>

</div>



<div class="container-fluid" *ngIf="showComponent">
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th scope="col">Name of Channel</th>
            <th scope="col">Name of the video</th>
            <th scope="col">Date of publication</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oneYtSnippet of youtubeVidSnippet">
            <td>{{oneYtSnippet.channelTitle}}</td>
            <td>{{oneYtSnippet.title | slice:0:35}}</td>
            <td>{{oneYtSnippet.publishedAt | date:'MM-dd-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th scope="col">Views</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oneYtStats of youtubeVidStats">
            <td>{{oneYtStats.viewCount | number}}</td>
            <td>{{oneYtStats.likeCount | number}}</td>
            <td>{{oneYtStats.dislikeCount | number}}</td>
            <td>{{oneYtStats.commentCount | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>