<div class="container">
  <form class="example-form" (ngSubmit)="loginSubmit()">
    <mat-form-field class="example-full-width">
      <input type="email" name="email" [(ngModel)]="formCreds.email" matInput placeholder="Your email" value="isaac.asimov@gmail.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" name="password" [(ngModel)]="formCreds.password" matInput placeholder="Your password" value="****">
    </mat-form-field>

    <button mat-raised-button>Log In</button>
  </form>
</div>