<div class="container">
  <h2>Youtube</h2>
  <p>This module can retrieve the youtube videos from a specific period</p>
  <p>It's sorted by number of views</p>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="publishedAfter">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="publishedBefore">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>


  <div class="container input-id">
    <form class="example-form" (ngSubmit)="getYoutubeList()">
      <mat-form-field class="example-full-width">
        <input type="text" name="query" [(ngModel)]="query" matInput placeholder="Search...">
      </mat-form-field>

      <button mat-raised-button color="primary">Get Me the Videos !</button>
    </form>
  </div>
</div>


<hr>


<div class="container result">
  <p>Number of videos about
    <b>{{query}}</b>:
    <b>{{youtubeVideoNumber}}</b>
  </p>
  <p>Here are a sample of top 50 videos:</p>

  <div class="container">
    <div class="row yt-row">

      <mat-card class="card-twitch" *ngFor="let oneYoutubeVid of youtubeVideosList">
        <mat-card-header>
          <mat-card-title>{{oneYoutubeVid.snippet.title | slice:0:20}}</mat-card-title>
          <mat-card-subtitle>By: {{oneYoutubeVid.snippet.channelTitle | slice:0:18}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="img-twitch" src="{{oneYoutubeVid.snippet.thumbnails.high.url}}">
        <mat-card-content>
          <p>{{oneYoutubeVid.snippet.description | slice:0:50}}</p>
          <mat-card-actions>
            <a href="https://www.youtube.com/watch?v={{oneYoutubeVid.id.videoId}}" target="_blank">
              <button mat-button mat-raised-button color="primary">Go see the video</button>
            </a>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </div>
  </div>



</div>