.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-id {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.mat-form-field {
  margin-left: 20px;
}

/* For the card */
.card {
  max-width: 400px;
  border: 1px solid black;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


