<p>This module can retrieve the youtube videos from a specific period</p>

<div class="container">
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="publishedAfter">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="publishedBefore">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>


  <div class="container input-id">
    <form class="example-form" (ngSubmit)="getYoutubeList()">
      <mat-form-field class="example-full-width">
        <input type="text" name="query" [(ngModel)]="query" matInput placeholder="Search...">
      </mat-form-field>

      <button mat-raised-button color="primary">Get Me the Videos !</button>
    </form>
  </div>
</div>


<hr>


<div class="container result">
  <p>During this period there were
    <b>{{youtubeVideosList?.pageInfo.totalResults}}</b> videos about
    <b>{{query}}</b>. Here are a sample of top 5 videos:
  </p>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{youtubeVideosList?.items[0].snippet.title}}</mat-card-title>
      <mat-card-subtitle>from {{youtubeVideosList?.items[0].snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{youtubeVideosList?.items[0].snippet.thumbnails.high.url}}">
    <mat-card-content>
      <p>
        {{youtubeVideosList?.items[0].snippet.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[0].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{youtubeVideosList?.items[1].snippet.title}}</mat-card-title>
      <mat-card-subtitle>from {{youtubeVideosList?.items[1].snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{youtubeVideosList?.items[1].snippet.thumbnails.high.url}}">
    <mat-card-content>
      <p>
        {{youtubeVideosList?.items[1].snippet.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[1].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{youtubeVideosList?.items[2].snippet.title}}</mat-card-title>
      <mat-card-subtitle>from {{youtubeVideosList?.items[2].snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{youtubeVideosList?.items[2].snippet.thumbnails.high.url}}">
    <mat-card-content>
      <p>
        {{youtubeVideosList?.items[2].snippet.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[2].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{youtubeVideosList?.items[3].snippet.title}}</mat-card-title>
      <mat-card-subtitle>from {{youtubeVideosList?.items[3].snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{youtubeVideosList?.items[3].snippet.thumbnails.high.url}}">
    <mat-card-content>
      <p>
        {{youtubeVideosList?.items[3].snippet.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[3].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{youtubeVideosList?.items[4].snippet.title}}</mat-card-title>
      <mat-card-subtitle>from {{youtubeVideosList?.items[4].snippet.channelTitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{youtubeVideosList?.items[4].snippet.thumbnails.high.url}}">
    <mat-card-content>
      <p>
        {{youtubeVideosList?.items[4].snippet.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[4].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>
    </mat-card-actions>
  </mat-card>



</div>