<p>This module can retrieve the youtube videos from a specific period</p>

<div class="container">
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="publishedAfter">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="publishedBefore">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>


  <div class="container input-id">
    <form class="example-form" (ngSubmit)="getYoutubeList()">
      <mat-form-field class="example-full-width">
        <input type="text" name="query" [(ngModel)]="query" matInput placeholder="Search...">
      </mat-form-field>

      <button mat-raised-button color="primary">Get Me the Videos !</button>
    </form>
  </div>
</div>


<hr>


<div class="container result" [ngClass]="classState">
  <p>During this period there were
    <b>{{youtubeVideosList?.pageInfo.totalResults}}</b> videos about {{query}}</p>

  <ul>
    <li>
      <p>Title of the video: {{youtubeVideosList?.items[0].snippet.title}}</p>
      <img src="{{youtubeVideosList?.items[0].snippet.thumbnails.high.url}}">
      <p>Publication date: {{youtubeVideosList?.items[0].snippet.publishedAt | date:'MM-dd-yyyy'}}</p>
      <p>Channel title: {{youtubeVideosList?.items[0].snippet.channelTitle}}</p>
      <a href="https://www.youtube.com/watch?v={{youtubeVideosList?.items[0].id.videoId}}" target="_blank">
        <button mat-button mat-raised-button color="primary">Go see the video</button>
      </a>

    </li>
  </ul>

  <ul>
    <li>
      <p>{{youtubeVideosList?.items[1].snippet.title}}</p>
      <img src="{{youtubeVideosList?.items[1].snippet.thumbnails.high.url}}">
      <p>{{youtubeVideosList?.items[1].snippet.publishedAt}}</p>
      <p>{{youtubeVideosList?.items[1].snippet.channelTitle}}</p>


    </li>
  </ul>

  <ul>
    <li>
      <p>{{youtubeVideosList?.items[2].snippet.title}}</p>
      <img src="{{youtubeVideosList?.items[2].snippet.thumbnails.high.url}}">
      <p>{{youtubeVideosList?.items[2].snippet.publishedAt}}</p>
      <p>{{youtubeVideosList?.items[2].snippet.channelTitle}}</p>


    </li>
  </ul>

  <ul>
    <li>
      <p>{{youtubeVideosList?.items[3].snippet.title}}</p>
      <img src="{{youtubeVideosList?.items[3].snippet.thumbnails.high.url}}">
      <p>{{youtubeVideosList?.items[3].snippet.publishedAt}}</p>
      <p>{{youtubeVideosList?.items[3].snippet.channelTitle}}</p>


    </li>
  </ul>

  <ul>
    <li>
      <p>{{youtubeVideosList?.items[4].snippet.title}}</p>
      <img src="{{youtubeVideosList?.items[4].snippet.thumbnails.high.url}}">
      <p>{{youtubeVideosList?.items[4].snippet.publishedAt}}</p>
      <p>{{youtubeVideosList?.items[4].snippet.channelTitle}}</p>


    </li>
  </ul>

</div>