.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-id {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.mat-form-field {
  margin-left: 20px;
}

/* For the card */
.img-twitch {
  text-align: center;
  width: 250px;
}

.card-twitch {
  width: 250px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

mat-card-actions {
  text-align: center;
}

result {
  margin-bottom: 20px;
}

.yt-row {
  margin-bottom: 30px;
}

