.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .bottom-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
} */

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 45px;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-toolbar.mat-primary {
  background-color:#7DC383;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 23px;
}


img {
  height: 20px;
}

.fill-right {
  flex: 1 1 auto;
  text-align: center;
}

.fill-center {
  flex: 0.5 1 auto;
  text-align: center;
}


.field-comment {
  width: 350px;
}

.icon-panel {
  margin-left: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
 }

/* @media screen and (max-width: 600px)
{

} */


