<header>
  <h1>Easy Monday</h1>
  <nav>

    <span *ngIf="!userTruc.currentUser">
      <a routerLink="/signup">Signup</a>
      <a routerLink="/login">Login</a>
    </span>

    <span *ngIf="userTruc.currentUser">
      <a routerLink="/">Home</a>
      <a routerLink="/account">Your account</a>
      <b>{{userTruc.currentUser.name}}</b>
      <button (click)="logoutClick()">Log Out</button>
    </span>

  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Made with 😎 at Ironhack</p>
</footer>