<div class="container">
  <h2>Twitch trends</h2>
  <p>This component display the Top 100 watched games in Twitch from the past week in
    <u>France</u>
  </p>
  <p>You can filtered for a specific game</p>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="search" name="gameQuery" [(ngModel)]="gameQuery" matInput placeholder="Your game...">
    </mat-form-field>
  </form>
</div>

<hr>


<div class="container">
  <div class="row yt-row">

    <mat-card class="card-twitch" *ngFor="let oneTwitchVid of (twitchFullList | filteredBySearch : gameQuery) , let i = index ">
      <mat-card-header>
        <mat-card-title>#{{i + 1}} - {{oneTwitchVid.game.localized_name | slice:0:16}}</mat-card-title>
        <mat-card-subtitle>Number of views: {{oneTwitchVid.viewers | number}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-twitch" src="{{oneTwitchVid.game.box.large}}">
      <mat-card-content>
        <p>Viewers: {{oneTwitchVid.game.popularity | number}}</p>
        <p>Number of channels: {{oneTwitchVid.channels | number}}</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>