/* body {
  margin: 15px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
} */

th {
  width: 30px;
}

td {
  width: 60px;
}

.ber-table {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}