/* body {
  margin: 15px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
} */

th {
  width: 30px;
  background-color: rgb(158, 158, 172);
  color: white;
}

td {
  width: 60px;
}

.ber-table {
 
  padding-bottom: 20px;
}