<div class="container ber-table">
  <h2>Media Plan Table</h2>
  <p>This component can help you created easy table for potential campaigns</p>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Budget</th>
        <th scope="col">Impressions</th>
        <th scope="col">CPM</th>
        <th scope="col">CTR</th>
        <th scope="col">Clicks</th>
        <th scope="col">CPC</th>
        <th scope="col">CR</th>
        <th scope="col">Regs</th>
        <th scope="col">CPA</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of datas; let i = index">
      <tr>
        <td>
          <input type="number" class="form-control mb-2 budget" (change)="calcTable(i)" [(ngModel)]="datas[i].budget" id="inlineFormInput"
            placeholder="Ex:1000" name="budget">
        </td>
        <td>
          <input type="number" class="form-control mb-2 impression" (change)="calcTable(i)" [(ngModel)]="datas[i].impression" id="inlineFormInput"
            placeholder="Ex:100000" name="impression">
        </td>
        <td class="cpm">{{data.cpm | currency:'$':'code'}}</td>

        <td>
          <input type="number" class="form-control mb-2 ctr" (change)="calcTable(i)" [(ngModel)]="datas[i].ctr" id="inlineFormInput"
            placeholder="Ex:0.004" name="ctr">
        </td>
        <td class="clicks">{{data.clicks | number}}</td>
        <td class="cpc">{{data.cpc | currency:'$':'code'}}</td>
        <td>
          <input type="number" class="form-control mb-2 impression" (change)="calcTable(i)" [(ngModel)]="datas[i].cr" id="inlineFormInput"
            placeholder="Ex:0.02" name="cr">
        </td>
        <td class="regs">{{data.regs | number}}</td>
        <td class="cpa">{{data.cpa | currency:'$':'code'}}</td>

      </tr>
    </tbody>
  </table>

  <button (click)="addLine()" mat-raised-button color="primary">Add a line</button>
</div>