<!-- <h2>Signup</h2>

<form (ngSubmit)="signSubmit()">

  <label>
    Your name:
    <input type="text" name="name" [(ngModel)]="formCreds.name" placeholder="John Doe">
  </label>

  <label>
    Your email:
    <input type="email" name="email" [(ngModel)]="formCreds.email" placeholder="john.doe@gmail.com">
  </label>

  <label>
    Your password:
    <input type="password" name="password" [(ngModel)]="formCreds.password" placeholder="******">
  </label>

  <button>Log in</button>

</form> -->
<div class="container">
  <form class="example-form" (ngSubmit)="signSubmit()">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" [(ngModel)]="formCreds.name" matInput placeholder="Name" value="Isaac Asimov">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="email" name="email" [(ngModel)]="formCreds.email" matInput placeholder="Email" value="isaac.asimov@gmail.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" name="password" [(ngModel)]="formCreds.password" matInput placeholder="Password" matTooltipPosition="below"
        matTooltip="With Letters & Numbers" value="****">
    </mat-form-field>

    <button mat-raised-button>Sign Up</button>
  </form>
</div>