<div class="container">
  <h2>Google Analytics</h2>
  <p>This component can retrieve the stats from your Google Analytics account</p>

  <button (click)="clickRefresh()" mat-button mat-raised-button color="primary" id="ga-refresh">Get me the Stats</button>


  <div id="embed-api-auth-container"></div>

  <div class="container ">

    <div class="auth">
      <div id="view-selector-1-container"></div>
    </div>

    <div class="row all-stats">

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Stats from the week before</mat-card-title>
          <mat-card-subtitle>By Sessions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-sessions-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Last Week Stats</mat-card-title>
          <mat-card-subtitle>By Sessions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-1-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Traffic Sources from the Week before</mat-card-title>
          <mat-card-subtitle>By Sessions (click on each source)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-source-container"></div>
          <div id="breakdown-chart-container-2"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Traffic Sources</mat-card-title>
          <mat-card-subtitle>By Sessions (click on each source)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-3-container"></div>
          <div id="breakdown-chart-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Top Pages from the Week before</mat-card-title>
          <mat-card-subtitle>By PageViews</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-page-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Top Pages</mat-card-title>
          <mat-card-subtitle>By PageViews</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-4-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Top Countries from the Week before</mat-card-title>
          <mat-card-subtitle>By Sessions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-country-container"></div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-analytics">
        <mat-card-header>
          <mat-card-title class="title-ga">Top Countries</mat-card-title>
          <mat-card-subtitle>By Sessions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-2-container"></div>
        </mat-card-content>
      </mat-card>




    </div>
  </div>