<p>
  <i>Message a mettre uniquement quand on a rien renseigner dans la DB</i>
</p>
<p>The goal of this Web App is to give different tools for gaming marketing jobs</p>
<p>How does it work ?</p>
<ul>
  <li>Click on the different menu in the navigation bar</li>
  <li>Connect to different tools</li>
  <li>Check your weekly stats</li>
  <li>Write comments, actions points or tasks for the week - everything is save and store and you can find them later</li>
</ul>

<p>I made this web app for me but if you are using it and you would like to see a specific feature, don't hesite to reach me
  on linkedin !!!</p>


<p>Pour la sidebar https://material.angularjs.org/latest/demo/sidenav</p>
<p>https://theinfogrid.com/tech/developers/angular/responsive-navbar-angular-flex-layout/</p>
<p>Va sur https://favicon.io/ quand tu auras la couleur verte</p>