<div class="container">
  <h2>Hello !</h2>

  <p>I made this application during my web development bootcamp at
    <a href="http://www.ironhack.com/en">Ironhack</a>. It's mainly an app for me but it can also be useful for other marketers.</p>
  <p>How does it work ?</p>
  <ul>
    <li>Click on the left sidebar to use the different tools (Google Analytics, Youtube, Twitch)</li>
    <li>All tools are accessible but you can sign up to store your own comments</li>
    <li>Write comments, actions points or tasks for the week - everything is save and store and you can find them later</li>
  </ul>

  <p>For any questions you can contact me on
    <a href="https://fr.linkedin.com/in/bertrand-uhart" target="_blank">linkedin</a>
  </p>
</div>