<div class="container">
  <h2>Hello !</h2>

  <p>The goal of this Web App is to give different tools for gaming marketers</p>
  <p>How does it work ?</p>
  <ul>
    <li>Click on the different menu in the navigation bar</li>
    <li>Connect to different tools</li>
    <li>Check your weekly stats</li>
    <li>Write comments, actions points or tasks for the week - everything is save and store and you can find them later</li>
  </ul>

  <p>For any questions you can contact me on
    <a href="https://fr.linkedin.com/in/bertrand-uhart" target="_blank">linkedin</a>
  </p>
</div>