.img-twitch {
  text-align: center;
  width: 250px;
}

.card-twitch {
  width: 250px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.yt-row {
  margin-bottom: 30px;
}

mat-card-actions, mat-card-content {
  text-align: center;
}

button {
  margin-left: 20px;
}

