/* h4 {
  margin-top: 20px;
}

ul {
  padding-left: 10px;
}

h5 {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
}

i {
  color: gray;
} */

.card-analytics {
  width: 500px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.all-stats {
  margin-bottom: 40px;
}

.mat-card-title {
  font-size: 25px;
}