<div class="container">

  <div>

    <mat-card class="card-analytics">
      <mat-card-header>
        <mat-card-title class="comment-title">Week: {{comment?.week}}</mat-card-title>
        <mat-card-subtitle>Created: {{comment?.createdAt | date : 'longDate' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li *ngFor="let onlyOneComment of comment?.comment">
            <p>{{onlyOneComment}}</p>
          </li>
        </ol>
        <button mat-button mat-raised-button color="warn" (click)="deleteClick()">Delete</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>